@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    padding: 0 7%;
    background: url(images/bg-stars.svg) var(--very-dark-blue) no-repeat center center / cover;
}
.background-hills {
    background: url(images/pattern-hills.svg) no-repeat right bottom;
    position: absolute;
    inset: 0;
}





.title {
    padding-top: 22vh;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 5px;
    color: white;
}




.timer-container {
    display: flex;
    gap: 14px;
    max-width: max-content;
    margin: 0 auto;
}

.cards-container {
    margin-top: 45px;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 45px auto 0;
}
.cards-container::after {
    content: attr(data-time);
    position: absolute;
    bottom: -29px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 2px;
    color: var(--grayish-blue);
}

.card {
    width: 70px;
    height: 35px;
    perspective: 1700px;
    position: absolute;
    top: 0;
}

.card-flipping {
    z-index: 10;
}
.card-bottom.card-flipping {
    z-index: 9;
}
  
.card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.card-flipping .card-inner {
    transition: transform .8s;
    transform: rotateX(-180deg);
    transform-origin: bottom;
}

.card-bottom .card-inner {
    transform: rotateX(-180deg);
    transform-origin: bottom;
}
  
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
}

.card-front {
    background: var(--dark-desaturated-blue);
    color: black;
    overflow: hidden;
}
  
.card-back {
    background: var(--dark-desaturated-blue);
    color: white;
    transform: rotateX(180deg);
    overflow: hidden;
}

.card-front p,
.card-back p {
      display: grid;
      place-items: center;
      height: 100%;
      font-size: 2.4rem;
      line-height: 0;
      color: var(--soft-red);
      position: relative;
}
.card p::before,
.card p::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .33);
    border-radius: 50%;
    padding: 4px;
}
.card p::before {
    left: 0;
    transform: translateX(-50%);
}
.card p::after {
    right: 0;
    transform: translateX(50%);
}

.card-front p {
      height: 100%;
      transform: translateY(50%);
}

.card-bottom .card-front p {
    transform: translateY(-50%);
}

.card-back p {
      height: 100%;
      transform: translateY(-50%);
}

.card-bottom .card-front p {
    transform: translateY(0);
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: relative;
}
.dark-overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .25);

}








.social-links-container {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.social-links-container a:hover path {
    fill: var(--soft-red);
    cursor: pointer;
}














@media(min-width: 777px) {
    .timer-container {
        transform: scale(2);
        transform-origin: top;
    }
}


@media(min-width: 1290px) {
    .background-hills {
        background-size: 100vw 30vh;
    }
}